body{
	background-color:grey;
}
.calculator{
	background-color:hsl(0, 0%, 40%);
	overflow:hidden;
	max-width:500px;
	margin-top:100px;
	padding:25px;
	margin-left:100px;
	border-radius:15px;
}
.keys{
	display:grid;
	grid-template-columns:repeat(4, 1fr);
	padding:25px;
	gap:10px;
}
#display{
	width:100%;
	height:100px;
	text-align:left;
	border-radius:15px;
	color:white;
	background-color:hsl(0, 0%, 30%);
	font-size:5rem;
}
button{
	width:100px;
	height:100px;
	border-radius:50px;
	border:none;
	background-color:hsl(0, 0%, 20%);
	color:white;
	font-size:2rem;
	font-weight:bold;
	cursor:pointer;
}
.big{
	background-color:orange;
}
button:hover{
	background-color:hsl(0, 0%, 70%);
}
button:active{
	background-color:hsl(0, 0%, 80%);
}