*{
	margin:0;
	padding:0;

}
.navbar{
	background-color:#3b3d40;
	display: flex;
	justify-content: space-between;

	
}
.logo{
	height: 50px;
	float: left;
	margin-right: 20px
}
.logo-title{
	color: white;
	font-family: tahoma;
	padding-top: 10px;
}
.menu-items{
	list-style: none;
	float: left;
	padding-left: 20px;
	padding-right:20px;
	padding-top: 10px;
	padding-bottom: 15px;
}
a{
	text-decoration: none;
	color: white;
	font-size:1.2rem;
	font-family: tahoma;
	
}
.left{
	width:400px;
}
.menu-items:hover{
	background-color:grey;
	cursor:pointer;
	
}
a:hover{
	color: blue;
}
.gallery-bg{
	background-color: #ed9b0c;
	width: 100%;
	height: 200px;
	opacity:50%;
}

.main-gallery{
	
}
.gallery-title{
	text-align: center;
	padding-top: 6%;
	font-size: 3rem;
	font-family: arial black;
}
.gallery-main-title{
	text-align: center;
	padding-top: 1%;
	font-size: 2rem;
	font-family: arial black;
}
.gallery-block1{
	width: 100%;
	background-color: #a180ed;
	margin-left: 1%;
	margin-right:1%;
	margin-top: 1%;
	margin-bottom:1%;
	display: flex;
	justify-content: center;
}
.gallery-image-a{
	margin-left: 1%;
	margin-right:1%;
	
	background-color: #5a3f99;
	width: 33%;
}
.gallery-photo{
	height:100%;
	width: 100%;

}
.gallery-image-container{
	border-radius: 31%;
	height:relative;
	width: relative;
}
.gallery-photo-description{

	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 0;
	background-color:#d9d1ed;
	height:relative;
	width: relative;
	
}
.photo-title{
	font-family: arial black;
}
.footer-text{
	text-align:center;
	padding: 20px;
	color: white;
	font-size: 20px;
}
.footer{
	background-color:#262219;
}