*{
	padding: 0;
	margin: 0;
}
body{
	box-sizing: border-box;
}
.main-body{
	width: 100%;
	height: 100%
}
div{
	border: solid 0.2px;
	
}
.title{
	height: 10%;
	width: 95%;
	text-align: center;
}
.display-screen{
	height: 15%;
	width: 95%;
	
}
input{
	height: 15%;
	width: 100%;
	border: none;
	
	text-align:  right;
}
.numbers{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}
.number-display{
	height: 75%;
	width: 95%;
}
.showNumber{
	height: 100%;
	width: 25%;
	text-align: center;
}
.submit{
	height: 15%;
	width: 100%;
	text-align: center;
}
